body {
  margin-bottom: 0;
}

.mainContainerFondo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.containerPepino {
  display: flex;
  gap: 20px;
  width: 600px;
  margin-left: 120px;
  padding: 20px; 
}

.containerText{
  height: 130px;
  margin-left: 10px;
}

.containerText h1 {
  color: white;
  margin-left: 0px;
  font-size: 25px;
}

.containerText h2{
  margin-top: 0;
  color: white;
  font-size: 25px;
}

.containerText button{
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #5DFD19;
  border-radius: 5px;
  border: none;
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 15px;
  font-weight: 500;
}



.containerPepino img {
  width: 200px;
  margin-top: 20px; /* Ajusta el margen superior del texto */
}

.containerFondo {
  flex: 1; /* Ajusta el tamaño del contenedor Fondo */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 114vh; /* Altura ajustada según necesidad */
  position: relative;
  z-index: 0; /* Asegura que el fondo esté detrás */
  margin-left: 30px; /* Ajusta el margen izquierdo */
}

.containerFondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
